.navbar{
  background-color: #212922;
  width: 200px;
  margin-left: 2%;
  height: 50px;
  padding:5px;
  text-align: center;
  margin-top: 10px;
  margin-right: auto;
  border-radius: 40px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.navbar-brand{
  font: 30px "Avenir Next", sans-serif;
  font-style: italic;
  font-weight: 900;
  color: #e3e3de;
  margin-left:17%;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.03em;

}


