
<div class="inLine" *ngIf="passenger !== undefined">

  <div class="inColumn">
    <h1>{{passenger.firstName}} {{passenger.lastName}}</h1>
    Email address : {{passenger.emailAddress}}
    <br/>
    Phone number : {{passenger.phone}}
  </div>

  <div class="inColumn">
    <h3>Historique des courses: </h3>
    <app-fare-table [fares]="passengerFares"></app-fare-table>
  </div>

  <button class="btn btn-outline-secondary my-2 my-sm-0 ms-2" (click)="redirectBook(passenger.id)">Book a fare</button>
</div>







